body{
    margin: 0;
}

header{
    background-color: blue;
    display: flex;
}

.presentation{
    width: 50%;
}

.presentation > img {
    width: 70%;
    height: 11rem;
    margin-top: 2rem;
    margin-left: 1.5rem;
    border-radius: 15px;
}

h1{
    font-size: 1.5rem;
    text-align: center;
}

.desc{
    width: 50%;
    margin-right: 0.5rem;
}

.desc > h3{
    text-align: center;
    color: aqua;
}

.desc > p{
    text-align: center;
}

.img-title{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.logo{
    background-color: rgb(54, 54, 247);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.title > .img-title > .logo > img{
    width: 3rem;
    height: 3rem; 
}

hr{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: blue;
    height: 0.3rem;
}

.target{
    display: flex;
    width: 80%;
    height: 11rem;
    background-color: blue;
    border-radius: 1rem;
    margin-left: 2.3rem;
    margin-bottom: 1rem;
}

.img-target{
    width: 40%;
}

.img-target > img{
    width: 80%;
    height: 80%;
    margin: 1rem;
    border-radius: 1rem;
}

.desc-project{
    width: 60%;
}

.desc-project > h3{
    text-align: center;
}

.desc-project > p{
    text-align: center;
}

.references {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.card {
    width: 300px;
    background-color: rgb(77, 77, 251);
    padding: 20px;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 15px;
    margin-left: 1.5rem;
}
  
p {
    text-align: left;
}

.card-experience{
    width: 300px;
    padding: 20px;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.card-experience > p {
    text-align: center;
}

.card-experience > img {
    width: 6rem;
}

.progressBar {
    color: rgb(0, 0, 0);
    height: 2rem;
  }

.progress-descrip > p{
    text-align: center;
    margin: 0;
}

@media screen and (min-width: 394px) and (max-width: 431px) { 
.card{
    margin-left: 2.7rem;
}

.cards-exp{
    margin-left: 2rem;
}
}

